Repository qupaya/sketch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

.lintstagedrc.json:

{
  "*.ts": ["eslint --cache --fix"],
  "*": ["npx nx format:write --files"],
  "*.css": ["npx stylelint --fix"]
}

refactor: change open to model
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files

refactor: change/simplify dialog implementation
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.ts
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
  libs/sketch/src/lib/components/dialog/directive/click-backdrop.directive.spec.ts
  libs/sketch/src/lib/components/dialog/directive/click-backdrop.directive.ts
  libs/sketch/src/lib/components/dialog/service/dialog.service.spec.ts
  libs/sketch/src/lib/components/dialog/service/dialog.service.ts
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

feat: make height adjustable
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.css
Due: npx nx format:write --files, npx stylelint --fix

fix: add margin if no close button but content shadow
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.ts
  libs/sketch/src/lib/components/dialog/dialog.component.html
Due: eslint --cache --fix, npx nx format:write --files

fix: add and adjust max-height for content container
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.ts
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

feat: make the position of the inner close button adjustable
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
  libs/sketch/src/lib/components/dialog/dialog.component.css
Due: npx nx format:write --files, npx stylelint --fix

style: align close button and make width adjustable
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
Due: npx nx format:write --files, npx stylelint --fix

feat: make backdrop style adjustable
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

feat: add contentShadow input
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

refactor: adjust dialog custom properties
  libs/sketch/src/lib/components/dialog/dialog.component.css
Due: npx nx format:write --files, npx stylelint --fix

feat: add fullscreen input
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

refactor: remove unneccassary dialogId input and selector
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files

feat: add examples in different variants
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.ts
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

refactor: adjust naming of classes and variables
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

chore: add overview over all properties to documentation
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
Due: npx nx format:write --files

chore: adjust documentation
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
Due: npx nx format:write --files

feat: add examples
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.ts
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

refactor: change some default values of the dialog
  libs/sketch/src/lib/components/dialog/dialog.component.css
Due: npx nx format:write --files, npx stylelint --fix

refactor: cleanup and renaming
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.ts
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files

chore: update documentation
  libs/sketch/src/lib/components/dialog/dialog-dokumentation.md
Due: npx nx format:write --files

refactor: remove closeButtonProperties and add option to add own close button component
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.ts
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

refactor: change background-color to background for backdrop
  libs/sketch/src/lib/components/dialog/dialog.component.css
Due: npx nx format:write --files, npx stylelint --fix

refactor: adjust margin and height when no button or inner button
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
Due: npx nx format:write --files, npx stylelint --fix

refactor: comment currently unused classes
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files

feat: add blur styling option to backdrop
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.css
Due: npx nx format:write --files, npx stylelint --fix

chore: update documentation according to new implementations
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
Due: npx nx format:write --files

chore: update documentation
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
Due: npx nx format:write --files

feat: add option to add border
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
  libs/sketch/src/lib/components/dialog/dialog.component.css
Due: npx nx format:write --files, npx stylelint --fix

feat: add option to position close button on left side
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.ts
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

refactor: simplify backdrop styling
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
Due: npx nx format:write --files, npx stylelint --fix

feat: add svg icon to close button and make it more generic
  apps/demo-app/src/assets/cross.svg
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

chore: add doku WIP
  libs/sketch/src/lib/components/dialog/dialog-dokumentation.md
Due: npx nx format:write --files

chore: add documentation for content styling
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
Due: npx nx format:write --files, npx stylelint --fix

feat: add option to move outer close button independently of margin
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
  libs/sketch/src/lib/components/dialog/dialog.component.css
Due: npx nx format:write --files, npx stylelint --fix

style: make close button position adjustable
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

feat: make styles for close button adjustable
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.ts
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

fix: add class to close button to avoid unwanted styling
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
Due: npx nx format:write --files, npx stylelint --fix

chore: rename close output
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files

refactor: add correct route for sample
  apps/demo-app/src/app/pages/overview/overview.component.html
  apps/demo-app/src/app/pages/overview/overview.component.ts
Due: eslint --cache --fix, npx nx format:write --files

feat: initial gantt commit
  apps/demo-app/src/app/app.routes.ts
  apps/demo-app/src/app/pages/gantt-sample/gantt-sample.component.css
  apps/demo-app/src/app/pages/gantt-sample/gantt-sample.component.html
  apps/demo-app/src/app/pages/gantt-sample/gantt-sample.component.spec.ts
  apps/demo-app/src/app/pages/gantt-sample/gantt-sample.component.ts
  apps/demo-app/src/app/pages/overview/overview.component.html
  apps/demo-app/src/app/pages/overview/overview.component.ts
  libs/sketch/src/index.ts
  libs/sketch/src/lib/components/gantt/components/gantt-chart-line/gantt-chart-line.component.css
  libs/sketch/src/lib/components/gantt/components/gantt-chart-line/gantt-chart-line.component.html
  libs/sketch/src/lib/components/gantt/components/gantt-chart-line/gantt-chart-line.component.spec.ts
  libs/sketch/src/lib/components/gantt/components/gantt-chart-line/gantt-chart-line.component.ts
  libs/sketch/src/lib/components/gantt/components/gantt-item/gantt-item.component.css
  libs/sketch/src/lib/components/gantt/components/gantt-item/gantt-item.component.html
  libs/sketch/src/lib/components/gantt/components/gantt-item/gantt-item.component.spec.ts
  libs/sketch/src/lib/components/gantt/components/gantt-item/gantt-item.component.ts
  libs/sketch/src/lib/components/gantt/gantt.component.css
  libs/sketch/src/lib/components/gantt/gantt.component.html
  libs/sketch/src/lib/components/gantt/gantt.component.spec.ts
  libs/sketch/src/lib/components/gantt/gantt.component.ts
  libs/sketch/src/lib/components/gantt/index.ts
  libs/sketch/src/lib/components/gantt/services/gantt-chart.service.ts
  libs/sketch/src/lib/components/gantt/types/gantt-item.interface.ts
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix
