Repository qupaya/sketch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

feat: add storybook for dialog
  libs/sketch/src/lib/components/dialog/dialog.component.stories.ts
Due: eslint --cache --fix, npx nx format:write --files

fix: adjust max-height of no margin container
  libs/sketch/src/lib/components/dialog/dialog.component.css
Due: npx nx format:write --files, npx stylelint --fix

fix: adjust display of wrapper to avoid interferences of innerCloseButton and contentShadow
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
Due: npx nx format:write --files, npx stylelint --fix

feat: enhance dialog documentation
  libs/sketch/src/lib/components/dialog/dialog.component.stories.ts
Due: eslint --cache --fix, npx nx format:write --files

chore: update documentation
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
Due: npx nx format:write --files

refactor: refactor code
  apps/demo-app/src/styles.css
  libs/sketch/src/lib/components/dialog/dialog.component.ts
  src/lib/dialog.service.spec.ts
  src/lib/dialog.service.ts
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

refactor: remove todo comment
  libs/sketch/src/lib/components/dialog/dialog.component.html
Due: npx nx format:write --files

refactor: add class to dialog for same css specificity
  libs/sketch/src/index.ts
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

refactor: remove unit test
  libs/sketch/src/lib/components/dialog/dialog.component.spec.ts
  libs/sketch/src/lib/components/dialog/directive/click-backdrop.directive.spec.ts
Due: eslint --cache --fix, npx nx format:write --files

chore: add basic documentation for list
  libs/sketch/src/lib/components/list/list-documentation.md
Due: npx nx format:write --files

refactor: add style for text color to be able to get adjusted by the user
  libs/sketch/src/lib/components/list/components/list-item/list-item.component.css
Due: npx nx format:write --files, npx stylelint --fix

chore: add more documentation
  libs/sketch/src/lib/components/list/list-documentation.md
Due: npx nx format:write --files

chore: add documentation
  libs/sketch/src/lib/components/select/select-documentation.md
Due: npx nx format:write --files

docs: update readme with minimal information
  README.md
Due: npx nx format:write --files

feat: add MIT license
  LICENSE
Due: npx nx format:write --files

build: update to nx 19.3 with angular 18
  .eslintrc.json
  .gitignore
  .prettierignore
  migrations.json
  package-lock.json
  package.json
Due: npx nx format:write --files

build: update storybook to v8
  libs/sketch/.storybook/main.ts
  libs/sketch/src/lib/components/dialog/dialog.component.stories.ts
  package-lock.json
  package.json
Due: eslint --cache --fix, npx nx format:write --files

build: update node and package-lock, audit fix, more relaxed peer dependencies
  .github/workflows/ci.yml
  libs/sketch/package.json
  package-lock.json
  package.json
Due: npx nx format:write --files

ci: add build-storybook to PR checks
  .github/workflows/ci.yml
Due: npx nx format:write --files

chore: add code actions for vscode
  .vscode/settings.json
Due: npx nx format:write --files

refactor: add fallback close button and update documentation
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.ts
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

refactor: update documentation for multiple selection
  libs/sketch/src/lib/components/select/select-documentation.md
Due: npx nx format:write --files

chore: change package name and make public
  libs/sketch/package.json
  package.json
Due: npx nx format:write --files

chore: update to nx 19.5.3 to fix macos silicon issues
  migrations.json
  package-lock.json
  package.json
Due: npx nx format:write --files

ci: change e2e-ci to e2e
  .github/workflows/ci.yml
Due: npx nx format:write --files

fix: quick fix for shadowDom issue in dialog
  apps/demo-app/src/styles.css
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

chore: use correct version in main package json
  package.json
Due: npx nx format:write --files

chore(release): publish 0.0.2
  CHANGELOG.md
  libs/sketch/package.json
  package.json
Due: npx nx format:write --files

chore: avoid releasing the monorepo as package
  package.json
Due: npx nx format:write --files

chore(release): publish 0.0.3
  CHANGELOG.md
  libs/sketch/package.json
Due: npx nx format:write --files

chore: define correct package versions
  CHANGELOG.md
  libs/sketch/package.json
  package.json
Due: npx nx format:write --files

feat: support overlay containers in dialogs
  README.md
  apps/demo-app/src/app/app.config.ts
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.ts
  libs/sketch/src/index.ts
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.stories.ts
  libs/sketch/src/lib/components/dialog/dialog.component.ts
  libs/sketch/src/lib/components/overlay/overlay-container.ts
  libs/sketch/src/lib/components/overlay/overlay.directive.ts
  libs/sketch/src/lib/components/select/index.ts
  libs/sketch/src/lib/components/select/select.component.ts
  libs/sketch/src/lib/sketch.module.ts
Due: eslint --cache --fix, npx nx format:write --files

chore: bump to v0.0.5
  libs/sketch/package.json
Due: npx nx format:write --files

Path conditions:
  eslint --cache --fix: any of: *.ts
  npx nx format:write --files: any of: *
  npx stylelint --fix: any of: *.css
