Repository qupaya/sketch: changes, and which lint-staged commands are due for each by the changed paths.
All: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

.lintstagedrc.json:

{
  "*.ts": ["npx nx lint --fix --files"],
  "*": ["npx nx format:write --files"],
  "*.css": ["npx stylelint --fix"]
}

feat: add test component sk-sketch
  .husky/pre-commit
  .lintstagedrc.json
  apps/demo-app/src/app/app.component.html
  apps/demo-app/src/app/app.component.spec.ts
  apps/demo-app/src/app/app.component.ts
  libs/sketch/src/lib/sketch/sketch.component.html
Due: npx nx lint --fix --files, npx nx format:write --files

Update ci.yml
  .github/workflows/ci.yml
Due: npx nx format:write --files

Update ci.yml: Install Playwright deps
  .github/workflows/ci.yml
Due: npx nx format:write --files

feat(list): add overview and a little bit of styling
  apps/demo-app/src/app/app.component.css
  apps/demo-app/src/app/app.component.html
  apps/demo-app/src/app/app.routes.ts
  apps/demo-app/src/app/components/card/card.component.css
  apps/demo-app/src/app/components/card/card.component.html
  apps/demo-app/src/app/components/card/card.component.spec.ts
  apps/demo-app/src/app/components/card/card.component.ts
  apps/demo-app/src/app/components/top-bar/top-bar.component.html
  apps/demo-app/src/app/components/top-bar/top-bar.component.scss
  apps/demo-app/src/app/components/top-bar/top-bar.component.spec.ts
  apps/demo-app/src/app/components/top-bar/top-bar.component.ts
  apps/demo-app/src/app/pages/app/app.component.css
  apps/demo-app/src/app/pages/app/app.component.html
  apps/demo-app/src/app/pages/app/app.component.spec.ts
  apps/demo-app/src/app/pages/app/app.component.ts
  apps/demo-app/src/app/pages/overview/overview.component.css
  apps/demo-app/src/app/pages/overview/overview.component.html
  apps/demo-app/src/app/pages/overview/overview.component.spec.ts
  apps/demo-app/src/app/pages/overview/overview.component.ts
  apps/demo-app/src/assets/qupaya_logo_large.svg
  apps/demo-app/src/assets/qupaya_logo_small.png
  apps/demo-app/src/index.html
  apps/demo-app/src/main.ts
  apps/demo-app/src/styles.css
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat: updat eslint config
  .eslintrc.json
  apps/demo-app/project.json
  apps/demo-app/src/app/components/card/card.component.css
  apps/demo-app/src/app/components/card/card.component.html
  apps/demo-app/src/app/components/card/card.component.spec.ts
  apps/demo-app/src/app/components/top-bar/top-bar.component.html
  apps/demo-app/src/app/components/top-bar/top-bar.component.scss
  apps/demo-app/src/app/pages/app/app.component.css
  apps/demo-app/src/app/pages/app/app.component.html
  apps/demo-app/src/app/pages/app/app.component.spec.ts
  apps/demo-app/src/app/pages/overview/overview.component.css
  apps/demo-app/src/app/pages/overview/overview.component.html
  apps/demo-app/src/app/pages/overview/overview.component.spec.ts
  apps/demo-app/src/index.html
  apps/demo-app/src/styles.css
  e2e/playwright.config.ts
  e2e/src/example.spec.ts
  libs/sketch/package.json
  package-lock.json
  package.json
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

wip: add widget component
  apps/demo-app/src/app/app.component.css
  apps/demo-app/src/app/app.component.html
  apps/demo-app/src/app/pages/app/app.component.ts
  libs/sketch/src/index.ts
  libs/sketch/src/lib/widget/widget.component.css
  libs/sketch/src/lib/widget/widget.component.html
  libs/sketch/src/lib/widget/widget.component.spec.ts
  libs/sketch/src/lib/widget/widget.component.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat(widget): add sample page
  apps/demo-app/src/app/app.component.css
  apps/demo-app/src/app/app.component.html
  apps/demo-app/src/app/app.routes.ts
  apps/demo-app/src/app/pages/app/app.component.css
  apps/demo-app/src/app/pages/app/app.component.html
  apps/demo-app/src/app/pages/overview/overview.component.html
  apps/demo-app/src/app/pages/widget-sample/widget-sample.component.css
  apps/demo-app/src/app/pages/widget-sample/widget-sample.component.html
  apps/demo-app/src/app/pages/widget-sample/widget-sample.component.spec.ts
  apps/demo-app/src/app/pages/widget-sample/widget-sample.component.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

build: add storybook dependencies
  package-lock.json
  package.json
Due: npx nx format:write --files

chore: setup storybook
  libs/sketch/.eslintrc.json
  libs/sketch/.storybook/main.ts
  libs/sketch/.storybook/preview.ts
  libs/sketch/.storybook/tsconfig.json
  libs/sketch/project.json
  libs/sketch/src/lib/sketch/sketch.component.stories.ts
  libs/sketch/tsconfig.json
  libs/sketch/tsconfig.lib.json
  nx.json
Due: npx nx lint --fix --files, npx nx format:write --files

style: fix lintstaged eslint setting
  .gitignore
  .lintstagedrc.json
Due: npx nx format:write --files

ci: add storybook deployment to chromatic
  .github/workflows/storybook.yml
  README.md
  chromatic.config.json
  package.json
Due: npx nx format:write --files

ci: remove nx cloud
  .github/workflows/ci.yml
  nx.json
Due: npx nx format:write --files

ci: fix storybook build command
  .github/workflows/storybook.yml
Due: npx nx format:write --files

ci: add --webpack-stats-json when building storybook to enable chromatic TurboSnap
  libs/sketch/project.json
Due: npx nx format:write --files

feat(list): add inital list component and add sample
  apps/demo-app/src/app/app.routes.ts
  apps/demo-app/src/app/components/app/app.component.css
  apps/demo-app/src/app/components/app/app.component.html
  apps/demo-app/src/app/components/app/app.component.ts
  apps/demo-app/src/app/components/list-sample/list-sample.component.css
  apps/demo-app/src/app/components/list-sample/list-sample.component.html
  apps/demo-app/src/app/components/list-sample/list-sample.component.spec.ts
  apps/demo-app/src/app/components/list-sample/list-sample.component.ts
  apps/demo-app/src/main.ts
  libs/sketch/src/index.ts
  libs/sketch/src/lib/components/list-item/list-item.component.css
  libs/sketch/src/lib/components/list-item/list-item.component.html
  libs/sketch/src/lib/components/list-item/list-item.component.spec.ts
  libs/sketch/src/lib/components/list-item/list-item.component.ts
  libs/sketch/src/lib/components/list/list.component.css
  libs/sketch/src/lib/components/list/list.component.html
  libs/sketch/src/lib/components/list/list.component.spec.ts
  libs/sketch/src/lib/components/list/list.component.ts
  libs/sketch/src/lib/components/sketch/sketch.component.css
  libs/sketch/src/lib/components/sketch/sketch.component.html
  libs/sketch/src/lib/components/sketch/sketch.component.spec.ts
  libs/sketch/src/lib/components/sketch/sketch.component.stories.ts
  libs/sketch/src/lib/components/sketch/sketch.component.ts
  libs/sketch/src/lib/directives/item-active.directive.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat(list): add animation showcase for list
  apps/demo-app/src/app/animations/slide.animation.ts
  apps/demo-app/src/app/app.config.ts
  apps/demo-app/src/app/app.routes.ts
  apps/demo-app/src/app/pages/list-sample/list-sample.component.css
  apps/demo-app/src/app/pages/list-sample/list-sample.component.html
  apps/demo-app/src/app/pages/list-sample/list-sample.component.ts
  apps/demo-app/src/app/pages/list-sample/list-sample.data.ts
  apps/demo-app/src/app/pages/overview/overview.component.html
  libs/sketch/src/lib/components/list-item/list-item.component.html
  libs/sketch/src/lib/components/list/list.component.ts
  libs/sketch/src/lib/directives/item-active.directive.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat(list): move sample component to pages folder
  apps/demo-app/src/app/app.routes.ts
  apps/demo-app/src/app/components/app/app.component.css
  apps/demo-app/src/app/components/app/app.component.html
  apps/demo-app/src/app/components/app/app.component.ts
  apps/demo-app/src/app/components/card/card.component.css
  apps/demo-app/src/app/components/card/card.component.html
  apps/demo-app/src/app/components/list-sample/list-sample.component.css
  apps/demo-app/src/app/components/list-sample/list-sample.component.html
  apps/demo-app/src/app/components/list-sample/list-sample.component.ts
  apps/demo-app/src/app/pages/app/app.component.html
  apps/demo-app/src/app/pages/list-sample/list-sample.component.css
  apps/demo-app/src/app/pages/list-sample/list-sample.component.html
  apps/demo-app/src/app/pages/list-sample/list-sample.component.spec.ts
  apps/demo-app/src/app/pages/list-sample/list-sample.component.ts
  apps/demo-app/src/main.ts
  libs/sketch/src/lib/components/list-item/list-item.component.html
  libs/sketch/src/lib/components/list-item/list-item.component.ts
  libs/sketch/src/lib/components/list/list.component.css
  libs/sketch/src/lib/components/list/list.component.html
  libs/sketch/src/lib/components/list/list.component.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat(list): add optional link and update sample
  apps/demo-app/src/app/app.routes.ts
  apps/demo-app/src/app/components/card/card.component.css
  apps/demo-app/src/app/components/card/card.component.html
  apps/demo-app/src/app/components/card/card.component.ts
  apps/demo-app/src/app/components/top-bar/top-bar.component.html
  apps/demo-app/src/app/components/top-bar/top-bar.component.scss
  apps/demo-app/src/app/components/top-bar/top-bar.component.ts
  apps/demo-app/src/app/pages/app/app.component.css
  apps/demo-app/src/app/pages/app/app.component.html
  apps/demo-app/src/app/pages/list-sample/list-sample.component.css
  apps/demo-app/src/app/pages/list-sample/list-sample.component.html
  apps/demo-app/src/app/pages/list-sample/list-sample.component.spec.ts
  apps/demo-app/src/app/pages/list-sample/list-sample.component.ts
  apps/demo-app/src/app/pages/list-sample/list-sample.data.ts
  apps/demo-app/src/app/pages/overview/overview.component.html
  apps/demo-app/src/app/pages/overview/overview.component.ts
  apps/demo-app/src/styles.css
  apps/demo-app/src/test-setup.ts
  libs/sketch/package.json
  libs/sketch/src/index.ts
  libs/sketch/src/lib/components/list-item/list-item.component.css
  libs/sketch/src/lib/components/list-item/list-item.component.html
  libs/sketch/src/lib/components/list-item/list-item.component.ts
  libs/sketch/src/lib/components/list/components/list-item/list-item.component.css
  libs/sketch/src/lib/components/list/components/list-item/list-item.component.html
  libs/sketch/src/lib/components/list/components/list-item/list-item.component.spec.ts
  libs/sketch/src/lib/components/list/components/list-item/list-item.component.ts
  libs/sketch/src/lib/components/list/directives/list-item-active.directive.ts
  libs/sketch/src/lib/components/list/index.ts
  libs/sketch/src/lib/components/list/list.component.ts
  libs/sketch/src/lib/components/list/services/list.service.ts
  libs/sketch/src/lib/directives/item-active.directive.ts
  tsconfig.base.json
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat: remove nx cloud
  .github/workflows/ci.yml
Due: npx nx format:write --files

feat(list): add minimal style for list component
  apps/demo-app/src/app/app.routes.ts
  apps/demo-app/src/app/components/card/card.component.html
  apps/demo-app/src/app/components/card/card.component.spec.ts
  apps/demo-app/src/app/components/card/card.component.ts
  apps/demo-app/src/app/pages/list-sample/list-sample.component.css
  apps/demo-app/src/app/pages/list-sample/list-sample.component.html
  apps/demo-app/src/app/pages/list-sample/list-sample.component.ts
  apps/demo-app/src/app/pages/list-sample/list-sample.data.ts
  apps/demo-app/src/app/pages/list-sample/pure-headless/pure-headless.component.css
  apps/demo-app/src/app/pages/list-sample/pure-headless/pure-headless.component.html
  apps/demo-app/src/app/pages/list-sample/pure-headless/pure-headless.component.spec.ts
  apps/demo-app/src/app/pages/list-sample/pure-headless/pure-headless.component.ts
  apps/demo-app/src/app/pages/list-sample/with-style/with-style.component.css
  apps/demo-app/src/app/pages/list-sample/with-style/with-style.component.html
  apps/demo-app/src/app/pages/list-sample/with-style/with-style.component.spec.ts
  apps/demo-app/src/app/pages/list-sample/with-style/with-style.component.ts
  apps/demo-app/src/app/pages/overview/overview.component.html
  apps/demo-app/src/app/pages/overview/overview.component.ts
  libs/sketch/src/lib/components/list/components/list-item/list-item.component.css
  libs/sketch/src/lib/components/list/components/list-item/list-item.component.html
  libs/sketch/src/lib/components/list/components/list-item/list-item.component.ts
  libs/sketch/src/lib/components/list/directives/list-item-active.directive.ts
  libs/sketch/src/lib/components/list/directives/list-provider.directive.ts
  libs/sketch/src/lib/components/list/list.component.css
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat(list): change the provider for list service
  apps/demo-app/src/app/app.routes.ts
  apps/demo-app/src/app/pages/list-sample/list-sample.component.html
  apps/demo-app/src/app/pages/list-sample/list-sample.component.spec.ts
  apps/demo-app/src/app/pages/list-sample/list-sample.component.ts
  libs/sketch/src/lib/components/list/components/list-collection/list-collection.component.css
  libs/sketch/src/lib/components/list/components/list-collection/list-collection.component.html
  libs/sketch/src/lib/components/list/components/list-collection/list-collection.component.spec.ts
  libs/sketch/src/lib/components/list/components/list-collection/list-collection.component.ts
  libs/sketch/src/lib/components/list/components/list-item/list-item.component.spec.ts
  libs/sketch/src/lib/components/list/components/list-item/list-item.component.ts
  libs/sketch/src/lib/components/list/index.ts
  libs/sketch/src/lib/components/list/list.component.css
  libs/sketch/src/lib/components/list/list.component.ts
  libs/sketch/src/lib/components/list/services/list.service.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat(list): add provider directive and remove collection component
  apps/demo-app/src/app/app.routes.ts
  apps/demo-app/src/app/pages/list-sample/list-sample.component.html
  apps/demo-app/src/app/pages/list-sample/list-sample.component.ts
  libs/sketch/src/lib/components/list/components/list-collection/list-collection.component.css
  libs/sketch/src/lib/components/list/components/list-collection/list-collection.component.html
  libs/sketch/src/lib/components/list/components/list-collection/list-collection.component.spec.ts
  libs/sketch/src/lib/components/list/components/list-collection/list-collection.component.ts
  libs/sketch/src/lib/components/list/components/list-item/list-item.component.ts
  libs/sketch/src/lib/components/list/directives/list-provider.directive.ts
  libs/sketch/src/lib/components/list/index.ts
  libs/sketch/src/lib/components/list/list.component.css
  libs/sketch/src/lib/components/list/list.component.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat(list): add story for list component
  apps/demo-app/src/app/pages/list-sample/pure-headless/pure-headless.component.html
  apps/demo-app/src/app/pages/list-sample/with-style/with-style.component.html
  libs/sketch/src/lib/components/list/components/list-item/list-item.component.html
  libs/sketch/src/lib/components/list/list.component.stories.ts
Due: npx nx lint --fix --files, npx nx format:write --files

style: fix stylelint settings
  .stylelintrc.json
Due: npx nx format:write --files

chore: fix package scripts
  package.json
Due: npx nx format:write --files

feat(list): update active item on every navigation
  libs/sketch/src/lib/components/list/directives/list-item-active.directive.ts
Due: npx nx lint --fix --files, npx nx format:write --files

fix(list): update active id only if not available
  apps/demo-app/src/app/pages/list-sample/list-sample.data.ts
  libs/sketch/src/lib/components/list/directives/list-item-active.directive.ts
  libs/sketch/src/lib/components/list/services/list.service.ts
Due: npx nx lint --fix --files, npx nx format:write --files

feat(select): move select component to correct folder
  apps/demo-app/src/app/pages/overview/overview.component.html
  libs/sketch/src/index.ts
  libs/sketch/src/lib/components/select/components/select-option/select-option.component.css
  libs/sketch/src/lib/components/select/components/select-option/select-option.component.html
  libs/sketch/src/lib/components/select/components/select-option/select-option.component.ts
  libs/sketch/src/lib/components/select/directives/multiple.directive.ts
  libs/sketch/src/lib/components/select/directives/overlay.directive.ts
  libs/sketch/src/lib/components/select/index.ts
  libs/sketch/src/lib/components/select/select.component.css
  libs/sketch/src/lib/components/select/select.component.html
  libs/sketch/src/lib/components/select/select.component.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat(select): close on escape
  libs/sketch/src/lib/components/select/directives/overlay.directive.ts
  libs/sketch/src/lib/components/select/select.component.css
  libs/sketch/src/lib/components/select/select.component.html
  libs/sketch/src/lib/components/select/select.component.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat(select): add sample and default style
  apps/demo-app/src/app/app.routes.ts
  apps/demo-app/src/app/pages/overview/overview.component.html
  apps/demo-app/src/app/pages/overview/overview.component.ts
  apps/demo-app/src/app/pages/select-sample/select-default/select-default.component.html
  apps/demo-app/src/app/pages/select-sample/select-default/select-default.component.ts
  apps/demo-app/src/app/pages/select-sample/select-sample.component.css
  apps/demo-app/src/app/pages/select-sample/select-sample.component.html
  apps/demo-app/src/app/pages/select-sample/select-sample.component.ts
  apps/demo-app/src/app/pages/select-sample/select-with-style/select-options-sample/select-options-sample.component.css
  apps/demo-app/src/app/pages/select-sample/select-with-style/select-options-sample/select-options-sample.component.html
  apps/demo-app/src/app/pages/select-sample/select-with-style/select-options-sample/select-options-sample.component.spec.ts
  apps/demo-app/src/app/pages/select-sample/select-with-style/select-options-sample/select-options-sample.component.ts
  apps/demo-app/src/app/pages/select-sample/select-with-style/select-with-style.component.css
  apps/demo-app/src/app/pages/select-sample/select-with-style/select-with-style.component.html
  apps/demo-app/src/app/pages/select-sample/select-with-style/select-with-style.component.ts
  libs/sketch/src/lib/components/select/components/select-option/select-option.component.css
  libs/sketch/src/lib/components/select/components/select-option/select-option.component.ts
  libs/sketch/src/lib/components/select/directives/overlay.directive.ts
  libs/sketch/src/lib/components/select/select.component.css
  libs/sketch/src/lib/components/select/select.component.html
  libs/sketch/src/lib/components/select/select.component.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat(select): add animation to select sample
  apps/demo-app/src/app/pages/select-sample/select-options-sample/select-options-sample.component.css
  apps/demo-app/src/app/pages/select-sample/select-options-sample/select-options-sample.component.html
  apps/demo-app/src/app/pages/select-sample/select-options-sample/select-options-sample.component.ts
  apps/demo-app/src/app/pages/select-sample/select-sample.component.css
  apps/demo-app/src/app/pages/select-sample/select-sample.component.html
  apps/demo-app/src/app/pages/select-sample/select-sample.component.ts
  libs/sketch/src/lib/select/directives/overlay.directive.ts
  libs/sketch/src/lib/select/select.component.html
  libs/sketch/src/lib/select/select.component.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat(select): add inital select component with sample page
  apps/demo-app/src/app/app.routes.ts
  apps/demo-app/src/app/pages/overview/overview.component.html
  apps/demo-app/src/app/pages/select-sample/select-sample.component.css
  apps/demo-app/src/app/pages/select-sample/select-sample.component.html
  apps/demo-app/src/app/pages/select-sample/select-sample.component.spec.ts
  apps/demo-app/src/app/pages/select-sample/select-sample.component.ts
  apps/demo-app/src/styles.css
  libs/sketch/package-lock.json
  libs/sketch/package.json
  libs/sketch/src/index.ts
  libs/sketch/src/lib/select/components/select-option/select-option.component.css
  libs/sketch/src/lib/select/components/select-option/select-option.component.html
  libs/sketch/src/lib/select/components/select-option/select-option.component.ts
  libs/sketch/src/lib/select/directives/multiple.directive.ts
  libs/sketch/src/lib/select/directives/overlay.directive.ts
  libs/sketch/src/lib/select/index.ts
  libs/sketch/src/lib/select/select.component.css
  libs/sketch/src/lib/select/select.component.html
  libs/sketch/src/lib/select/select.component.ts
  package-lock.json
  package.json
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

wip(select): focus test
  apps/demo-app/src/app/pages/select-sample/select-options-sample/select-options-sample.component.css
  apps/demo-app/src/app/pages/select-sample/select-options-sample/select-options-sample.component.ts
  apps/demo-app/src/app/pages/select-sample/select-sample.component.html
  libs/sketch/src/lib/select/components/select-option/select-option.component.ts
  libs/sketch/src/lib/select/select.component.html
  libs/sketch/src/lib/select/select.component.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat(select): add focustrap to options container
  libs/sketch/src/lib/components/select/select.component.html
Due: npx nx format:write --files

feat(select): update sample
  apps/demo-app/src/app/app.config.ts
  apps/demo-app/src/app/pages/select-sample/select-options-sample/select-options-sample.component.css
  apps/demo-app/src/app/pages/select-sample/select-options-sample/select-options-sample.component.html
  apps/demo-app/src/app/pages/select-sample/select-options-sample/select-options-sample.component.spec.ts
  apps/demo-app/src/app/pages/select-sample/select-options-sample/select-options-sample.component.ts
  apps/demo-app/src/app/pages/select-sample/select-sample.component.css
  apps/demo-app/src/app/pages/select-sample/select-sample.component.html
  apps/demo-app/src/app/pages/select-sample/select-sample.component.ts
  libs/sketch/src/lib/select/components/select-option/select-option.component.ts
  libs/sketch/src/lib/select/directives/overlay.directive.ts
  libs/sketch/src/lib/select/select.component.html
  libs/sketch/src/lib/select/select.component.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat(select): add key event functionality
  apps/demo-app/src/app/animations/fade.animations.ts
  apps/demo-app/src/app/animations/slide.animation.ts
  apps/demo-app/src/app/animations/zoom.animations.ts
  apps/demo-app/src/app/app.config.ts
  apps/demo-app/src/app/pages/overview/overview.component.html
  apps/demo-app/src/app/pages/select-sample/select-options-sample/select-options-sample.component.css
  apps/demo-app/src/app/pages/select-sample/select-options-sample/select-options-sample.component.html
  apps/demo-app/src/app/pages/select-sample/select-options-sample/select-options-sample.component.spec.ts
  apps/demo-app/src/app/pages/select-sample/select-options-sample/select-options-sample.component.ts
  apps/demo-app/src/app/pages/select-sample/select-sample.component.css
  apps/demo-app/src/app/pages/select-sample/select-sample.component.html
  apps/demo-app/src/app/pages/select-sample/select-sample.component.spec.ts
  apps/demo-app/src/app/pages/select-sample/select-sample.component.ts
  libs/sketch/src/index.ts
  libs/sketch/src/lib/components/select/components/select-option/select-option.component.css
  libs/sketch/src/lib/components/select/components/select-option/select-option.component.ts
  libs/sketch/src/lib/components/select/directives/multiple.directive.ts
  libs/sketch/src/lib/components/select/directives/overlay.directive.ts
  libs/sketch/src/lib/components/select/index.ts
  libs/sketch/src/lib/components/select/select.component.css
  libs/sketch/src/lib/components/select/select.component.html
  libs/sketch/src/lib/components/select/select.component.ts
  package-lock.json
  package.json
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat(select): add story for select component
  libs/sketch/src/lib/components/select/components/select-option/select-option.component.ts
  libs/sketch/src/lib/components/select/select.component.html
  libs/sketch/src/lib/components/select/select.component.stories.ts
  libs/sketch/src/lib/components/select/select.component.ts
Due: npx nx lint --fix --files, npx nx format:write --files

feat(lib): add style file for users
  apps/demo-app/src/app/pages/select-sample/select-with-style/select-with-style.component.html
  apps/demo-app/src/styles.css
  libs/sketch/src/lib/components/select/directives/overlay.directive.ts
  libs/sketch/src/lib/components/select/select.component.html
  libs/sketch/src/lib/components/select/select.component.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat: add dialog component
  apps/demo-app/src/app/app.routes.ts
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.spec.ts
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.ts
  apps/demo-app/src/app/pages/overview/overview.component.html
  apps/demo-app/src/app/pages/overview/overview.component.ts
  apps/demo-app/src/styles.css
  libs/sketch/src/index.ts
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.spec.ts
  libs/sketch/src/lib/components/dialog/dialog.component.ts
  libs/sketch/src/lib/components/dialog/service/dialog.service.spec.ts
  libs/sketch/src/lib/components/dialog/service/dialog.service.ts
  src/lib/dialog.service.spec.ts
  src/lib/dialog.service.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix

style: position dialog in center
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.css
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
  libs/sketch/src/lib/components/dialog/service/dialog.service.ts
Due: npx nx lint --fix --files, npx nx format:write --files, npx stylelint --fix
