Repository qupaya/sketch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

.lintstagedrc.json:

{
  "*.ts": ["eslint --cache --fix"],
  "*": ["npx nx format:write --files"],
  "*.css": ["npx stylelint --fix"]
}

docs: add npm badge to readme
  libs/sketch/README.md
Due: npx nx format:write --files

fix: stop propagation on dialog escape
  libs/sketch/src/lib/components/dialog/dialog.component.html
  libs/sketch/src/lib/components/dialog/dialog.component.ts
Due: eslint --cache --fix, npx nx format:write --files

feat: published 0.0.6
  libs/sketch/README.md
  libs/sketch/package.json
Due: npx nx format:write --files

feat: make dialog position fixed to keep it in view center
  libs/sketch/src/lib/components/dialog/dialog.component.css
Due: npx nx format:write --files, npx stylelint --fix

feat: release sketch 0.0.8
  libs/sketch/package.json
Due: npx nx format:write --files

feat: release sketch 0.0.9
  libs/sketch/package.json
Due: npx nx format:write --files

feat: release sketch 0.0.10
  libs/sketch/package.json
Due: npx nx format:write --files

refactor: add fallback close button and update documentation
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.ts
  libs/sketch/src/lib/components/dialog/dialog-documentation.md
  libs/sketch/src/lib/components/dialog/dialog.component.css
  libs/sketch/src/lib/components/dialog/dialog.component.html
Due: eslint --cache --fix, npx nx format:write --files, npx stylelint --fix

refactor: add example for inner close button
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.html
  apps/demo-app/src/app/pages/dialog-sample/dialog-sample.component.ts
Due: eslint --cache --fix, npx nx format:write --files

refactor: refactor select component wip
  libs/sketch/src/lib/components/select/components/select-option/select-option.component.ts
  libs/sketch/src/lib/components/select/form-control-status-observer.ts
  libs/sketch/src/lib/components/select/select.component.html
  libs/sketch/src/lib/components/select/select.component.ts
Due: eslint --cache --fix, npx nx format:write --files

chore: update nx to 19.7.2
  libs/sketch/.storybook/main.ts
  libs/sketch/.storybook/preview.ts
  migrations.json
  nx.json
  package-lock.json
  package.json
  storybook-migration-summary.md
Due: eslint --cache --fix, npx nx format:write --files

chore: bump to v0.0.11
  libs/sketch/package.json
Due: npx nx format:write --files

chore(release): publish 0.0.11
  CHANGELOG.md
Due: npx nx format:write --files

refactor: remove allowSignalWrites
  apps/demo-app/src/app/pages/select-sample/select-with-style/select-with-style.component.ts
  libs/sketch/src/lib/components/dialog/dialog.component.ts
  libs/sketch/src/lib/components/list/components/list-item/list-item.component.ts
  libs/sketch/src/lib/components/overlay/overlay.directive.ts
  libs/sketch/src/lib/components/select/select.component.ts
Due: eslint --cache --fix, npx nx format:write --files

fix: remove output signal writes in overlay directive
  libs/sketch/src/lib/components/overlay/overlay.directive.ts
Due: eslint --cache --fix, npx nx format:write --files
